<!--dialog start-->
<div class="dialog-warp" #dialogBoxAnimation [attr.index]="closeIndexName">
    <div class="dialog-box white-bg border-r2 global-box-shadow {{headerData.sizeClassName}}">
        <div class="g-item-style">
            <div class="title">
                <span class="ebony-color">
                    <i class="{{headerData.icon}}"></i>
                    <span class="ebony-color">{{headerData.title}}</span>
                </span>
            </div>
            <div class="content">
                <template #element></template>
                <div class="dialog-btn">
                    <button *ngFor="let btn of btnList" class="btn btn-{{btn.type}} btn-sm mr-10" (click)="dialogButton(btn.status)">
                        <i *ngIf="btn" class="{{btn.icon}}"></i>
                        {{btn.name}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--dialog end-->