# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist

# dependencies
/node_modules

# IDEs and editors
/.idea


# e2e
/e2e
/e2e/*.js
/e2e/*.map
/*.js
/*.map
/*.d.ts
/*.tgz

# System Files
.DS_Store
Thumbs.db
