/**
 * Created by sunshine(514360255@qq.com)
 * User: Sunshine
 * Date: 2018/3/23 0023
 * Time: 上午 11:13
 */


.g-item-style{
  background-color:#fff;
  border-radius:2px;
  .title{
    border-bottom:1px solid #eee;
    min-height:60px;
    padding-right:20px;
    padding-left:20px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    span{
      &:nth-child(1){font-size:16px;}
      &.cursor-pointer{
        color:#aaa;
        &:hover{color: #34495f;}
      }
    }
    > a{
      font-size:13px;
      color: #3498DB;
      margin-left:auto;
    }
  }
  .content{padding: 20px;}
}

.dialog-warp{
  background-color:rgba(0, 0, 0, .3);
  position: fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:300;
}
.dialog-box-width400{
  width:400px;
}
.dialog-box-width600{
  width:600px;
}
.dialog-box{
  min-height:200px;
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  &.dialog-warp-prompt{
    width:400px;
  }
}

.dialog-animation{
  opacity:0;
  -webkit-animation: dialogWarpAnimation .4s ease-out .05s forwards;
  animation: dialogWarpAnimation .4s ease-out .05s forwards;

  // 第一种进场动画
  > .dialog-box{
    top:40%;
    opacity:0;
    -webkit-animation: dialogBoxAnimation1 .2s ease-out .2s forwards;
    animation: dialogBoxAnimation1 .2s ease-out .2s forwards;
  }
}

.dialog-animation-leave{
  opacity:1;
  -webkit-animation: dialogWarpAnimationLeave .2s ease-out .2s forwards;
  animation: dialogWarpAnimationLeave .2s ease-out .2s forwards;
  // 第一种离场动画
  > .dialog-box{
    top:50%;
    opacity:1;
    -webkit-animation: dialogBoxAnimation1Leave .3s ease-out forwards;
    animation: dialogBoxAnimation1Leave .3s ease-out forwards;
  }
}

.dialog-animation .dialog-box-animation2{
  -webkit-animation: dialogBoxAnimation2 .4s ease-in-out .05s forwards;
  animation: dialogBoxAnimation2 .4s ease-in-out .05s forwards;
}

.dialog-animation .dialog-box-animation-prompt{
  -webkit-animation: dialogBoxAnimationPrompt .4s ease-in-out .05s forwards;
  animation: dialogBoxAnimationPrompt .4s ease-in-out .05s forwards;
}

/*dialog warp 动画状态*/
@-webkit-keyframes dialogWarpAnimation {
  from{opacity:0;}
  to{opacity:1;}
}
@keyframes dialogWarpAnimation {
  from{opacity:0;}
  to{opacity:1;}
}

// 离场
@-webkit-keyframes dialogWarpAnimationLeave {
  from{opacity:1;}
  to{opacity:0;}
}
@keyframes dialogWarpAnimationLeave {
  from{opacity:1;}
  to{opacity:0;}
}

/*dialog box 动画第一种状态*/
@-webkit-keyframes dialogBoxAnimation1 {
  from{top:40%;opacity:0;}
  to{top:50%;opacity:1;}
}
@keyframes dialogBoxAnimation1 {
  from{top:40%;opacity:0;}
  to{top:50%;opacity:1;}
}

/*dialog box 动画第一种离场*/
@-webkit-keyframes dialogBoxAnimation1Leave {
  from{top:50%;opacity:1;}
  to{top:40%;opacity:0;}
}
@keyframes dialogBoxAnimation1Leave {
  from{top:50%;opacity:1;}
  to{top:40%;opacity:0;}
}

/*dialog box 动画第二种状态*/
@keyframes dialogBoxAnimation2 {
  from{top:50%;opacity:0;}
  to{top:50%;opacity:1;}
}
@-webkit-keyframes dialogBoxAnimation2 {
  from{top:50%;opacity:0;}
  to{top:50%;opacity:1;}
}

/*dialog box 提醒动画*/
@keyframes dialogBoxAnimationPrompt {
  0%{top:50%;opacity:0;}
  50%{top:50%;opacity:1;}
  60%{top:50%;opacity:1;left:52%;}
  65%{top:50%;opacity:1;left:48%;}
  70%{top:50%;opacity:1;left:52%;}
  75%{top:50%;opacity:1;left:48%;}
  80%{top:50%;opacity:1;left:52%;}
  85%{top:50%;opacity:1;left:48%;}
  90%{top:50%;opacity:1;left:52%;}
  95%{top:50%;opacity:1;left:48%;}
  100%{top:50%;opacity:1;left:50%;}
}


.dialog-btn{
  -webkit-display:flex;
  display:flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  .btn{
    margin-left:10px;
    padding:6px 12px;
    color:#fff;
    border-width:0;
    font-size:16px;
    cursor:pointer;
    border-radius:2px;
    &.btn-secondary{
      background-color:#bdc3c7;
    }
    &.btn-delete{
      background-color:#f64247;
    }
    &.btn-success{
      background-color:#18C5A9;
    }
    &.btn-blue{
      background-color:#3498DB;
    }
  }
}
